<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "kenan.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Kenan Philips.</h1>
    <p>Welcome to my blog!</p>
    <p>I'm currently a Web Developer / Web Designer / Graphic Designer living in Vancouver, British Columbia. I've recently graduated from CodeCore Bootcamp, which is an intensive, full-time course teaching full-stack web development. I'm always eager to learn and grow my knowledge and skills!</p>
    <p>When I'm not coding or designing, you can either find me cooking or playing the electric guitar and listening to rock and roll records.</p>
    <p>I hope I can keep this thing updated for you guys, but if not you can follow me on <a href="https://twitter.com/keyphlip">Twitter</a>, <a href="https://instagram.com/keyphlip">Instagram</a> or check out my current portfolio <a href="http://keyphlip.github.io">HERE!</a></p>
  </div>
</div>
