/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "normalize";

 html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #FFFFFF;
	padding: 7em 0 0 0;
	border-right: 1px solid #bbbbbb;
	#logo img {
		width: 100px;
		position: absolute;
		right: 2.5em;
		top: 2.5em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: #1EAEDB;
		}
		li {
			padding: .5em 0;
			a {
				color: #333333;
				text-decoration: none;
				transition: all .4s ease;
        text-transform: uppercase;
        letter-spacing: 1px;
				&:hover {
					color: #33C3F0;
				}
			}
		}
		.active {
			a {
				color: #33C3F0;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #333333;
	}
}

.button {
  font-family: 'Raleway', sans-serif;
	outline: none;
	background: transparent;
	border: 1px solid #bbbbbb;
	padding: .5em 1.5em;
	border-radius: 0.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
	&:hover {
		border: 1px solid #888888;
		color: #555555;
		a {
			color: #333333 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 200px;
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid #bbbbbb;
		background: #FFFFFF;
		color: #555555;
		p {
			display: inline;
      text-transform: uppercase;
      letter-spacing: 1px;
		}
		a {
			color: #555555;
			text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
		}
		.buttons {
			float: right;
			margin-top: -3px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid #bbbbbb;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #333333;
				font-size: 1.5em;
				&:hover {
					color: #33C3F0;
				}
			}
		}
		.date_and_author {
			color: #333333;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #333333;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.2em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #333333;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #bbbbbb;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #bbbbbb;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
          text-decoration: none;
          margin-top: 1.75em;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1em;
				line-height: 1.75;
			}
			a {
				color: #33C3F0;
				font-weight: 500;
				text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #bbbbbb;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"], #delete_button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
		outline: none;
		background: #33C3F0;
		border: 1px solid #33C3F0;
		padding: .5em 1.5em;
		font-size: 0.8em;
    letter-spacing: 1px;
		border-radius: 0.3em;
    color: #FFFFFF;
		&:hover {
      background: #1EAEDB;
			border: 1px solid #1EAEDB;
			color: #FFFFFF;
		}
	}
}

#delete_button {
  float: right;
  margin-top: 2.5em;
  &:hover {
    text-decoration: none;
  }
}

#comment_number {
  h3 {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}

#name {
  color: #33C3F0;
  font-weight: bold;
  display: inline;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form.edit_user {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 2em;
}

.date {
  a {
    color: #33C3F0;
    &:hover {
      text-decoration: none;
      color: #1EAEDB
    }
  }
}
